SERVER_HOST=0.0.0.0
SERVER_PORT=8000

DB_USER=hotel_user
DB_PASS=hotel
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_db
DB_DATA_VOLUME_NAME=hb_data

EXPORT_DATA_VOLUME_NAME=export_data

ALGORITHM=HS256
SECRET=

FRONTEND_URL=

SERVER_CORS_ORIGINS=http://localhost:5173

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:5173/home
STRIPE_CANCEL_URL=http://localhost:5173/home

ACCESS_TOKEN_EXPIRE_MINUTES=